<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Ao {{bank.name}}</h1>
    <h2>Ao NomeGerente </h1>
    
    <p>Comunicamos que nossa empresa passou a operar os relacionamentos de EDI, <br>
        transferência eletrônica, através da VAN FINNET. <br>
        Solicitamos que esta Instituição disponibilize o suporte necessário para viabilizar <br>
        esta implatação, onde as ações necessárias para esta migração serão conduzidas justamente <br>
        com a FINNET</p>

    <h2><strong>Contratante</strong></h2>
    <h2><strong>Razão Social: {{client.legalName}}</strong></h2>
    <h2><strong>CNPJ: {{client.cnpj}}</strong></h2>
    <h2><strong>Agência/ Conta corrente: {{client.branchNumber}} | {{client.accountNumber}} </strong></h2>
    <h2><strong>Convênio</strong></h2>

    <h2><strong>Van contratada</strong></h2>
    <h2><strong>Razão Social: FINNET S/A Tecnologia</strong></h2>
    <h2><strong>CNPJ: 05.607.266/0001-10</strong></h2>

    <h2>Produtos Financeiros</h2>
    <p>() Cobranca</p>
    <p>() Pagamento a Fornecedores</p>
    <p>() Pagamento de Tributos</p>
    <p>() Pagamento de Salários</p>
    <p>() Extrato</p>
    <p>() Código de Barras / Arrecadação</p>

    <h2>Ambiente</h2>
    <p>(X) Arquivo em produção</p>

    <h2>Cnab</h2>
    <p>() 240</p>
    <p>() 400</p>

    <p>Os custos serão assumidos 100% pela Empresa (alterar para 100% Banco se assim for <br>
    negócio entre Empresa e Banco)</p>
    <h2>Qualquer dúvida contatar: </h3>
    <h3><strong>Contato da Empresa</strong></h3>
    <p><strong>Nome:</strong></p>
    <p><strong>E-mail</strong></p>
    <p><strong>Telefone</strong></p>
    
    <h3><strong>Contato da VAN FINNET</strong></h3>
    <p><strong>Nome: Bianca e João</strong></p>
    <p><strong>E-mail: pis.posvenda@finnet.com.br</strong></p>
    <p><strong>Telefone: (11)94457-8493 | (11)99189-2213</strong></p>

    <h3><strong>Contato do responsável técnico</strong></h3>
    <p><strong>Nome: Vinicius Maier</strong></p>
    <p><strong>E-mail: viniciusmaierecw@gmail.com</strong></p>
    <p><strong>Telefone: (44)99962-4364</strong></p>

    <h3><strong>Contato do Gerente de conta</strong></h3>
    <p><strong>Nome:</strong></p>
    <p><strong>E-mail</strong></p>
    <p><strong>Telefone</strong></p>

    <p><strong>Colocamo-nos à disposição para quaisquer esclarecimentos adicionais. <br>
        Atenciosamente,</strong></p>

    <p>Assinatura do Responsável pela empresa</p>
</body>
</html>